<!-- <app-home-principal-page> -->
  <nav class="navbar">
    <div class="container-fluid">
      <ul class="nav" *ngIf="categories.length > 0">
        <li class="nav-item navbar-item-border mx-1" *ngFor="let channel of categories.slice(0,10)">
          <a class="nav-link" href="#">{{ channel.snippet.title }}</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <div id="videos">
      <div class="row">
        <div class="card mx-1" style="width: 25rem; padding-bottom: 20px;border: none;"
          *ngFor="let video of videos">
          <img src="{{ video.snippet.thumbnails.medium.url }}" class="card-img-top"
            width="{{ video.snippet.thumbnails.medium.width }}"
            height="{{ video.snippet.thumbnails.medium.height }}">

          <div class="card-img-overlay img-size-duration">
            <p class="card-text text-white">{{ video.contentDetails.duration}}</p>
          </div>

          <div class="card-body">
            <div class="row" *ngFor="let c of channels">
              <ng-container *ngIf="video.snippet.channelTitle === c.snippet.title">
                <div class="row">
                  <div class="col-sm-2">
                    <img class="thumbnails-channel-icon" src="{{ c.snippet.thumbnails.default.url }}">
                  </div>

                  <div class="col-sm-10">
                    <p class="card-title text-light" *ngIf="video.snippet.title.length >= 80">{{
                      video.snippet.title.slice(0,50)}}...</p>
                    <p class="card-title text-light" *ngIf="video.snippet.title.length < 80">{{
                      video.snippet.title}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-10" style="font-size: 10pt;">{{ c.snippet.title }}<br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-10" style="font-size: 10pt;">{{video.statistics.viewCount}} visualizações</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div id="videosShorts" style="padding-top: 10px;">
      <h3 style="font-weight: lighter;"><b>Shorts</b></h3>
    </div>
  </div>

<!-- </app-home-principal-page> -->