<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <button class="btn"><i class="bi bi-list"></i></button>
    <a class="navbar-brand" style="font-weight: bold;" href="#"><i class="bi bi-youtube text-danger"></i> YouTube</a>
   
    <form class="d-flex justify-content-center mx-auto" >
      <input type="text" class="form-control" type="text" placeholder="Pesquisar" aria-label="Search" style="min-width: 600px;border-radius: 40px;" name="textSearch" [(ngModel)]="textSearch">
      <button class="btn" type="button" (click)="setSearchVideoList()"><i class="bi bi-search"></i></button>
      <!-- <button class="btn" type="button" [routerLink]="['/home/searchlist']" [queryParams]="{ search_query : textSearch }"><i class="bi bi-search"></i></button> -->
    </form>

    <form class="d-flex">
      <button class="btn"><i class="bi bi-camera-reels-fill"></i></button>
      <button class="btn"><i class="bi bi-bell"></i></button>
      <button type="submit" class="btn" style="background-color: green;border-radius: 80px;">F</button>
    </form>
  </div>
</nav>

<div class="container-fluid" style="padding-top: 80px;">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav navbar-expand-lg flex-column">
          <li class="nav-item"><a class="nav-link active" href="#"><i class="bi bi-house"></i> Início</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-camera"></i> Shorts</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-collection-play"></i> Inscrições</a></li>
          <hr>
          <p>Você <i class="bi bi-caret-right"></i></p>
          <li class="nav-item"><a class="nav-link active" href="#"><i class="bi bi-person"></i> Seu canal</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-arrow-counterclockwise"></i> Shorts</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-play-circle"></i> Inscrições</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-clock"></i> Assistir mais tarde</a></li>

          <!--AQUI PRECISA EXISTIR UM FOR PARA QUE COLOQUE OUTRAS OPÇÕES QUANDO SHOWMORE FOR TRUE-->

          <button class="btn">Mostrar mais <i class="bi bi-arrow-down"></i></button>
          <hr>
          <p>Inscrições</p>
          AQUI PRECISA APARECER TODAS INSCRIÇÕES
          <p>Explorar</p>
          <li class="nav-item"><a class="nav-link" routerLink="/home/treeding"><i class="bi bi-fire"></i> Em alta</a></li>
          <p>Mais do YouTube</p>
          <li class="nav-item"><a class="nav-link active " href="#"><i class="bi bi-youtube text-danger"></i> YouTube
              Premium</a></li>
          <li class="nav-item"><a class="nav-link " href="#"><i class="bi bi-youtube text-danger"></i> YouTube
              Studio</a></li>
          <li class="nav-item"><a class="nav-link " href="#"><i class="bi bi-youtube text-danger"></i> YouTube Music</a>
          </li>
          <li class="nav-item"><a class="nav-link " href="#"><i class="bi bi-youtube text-danger"></i> YouTube Kids</a>
          </li>

          <hr>

        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-2">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>